<!doctype html>
<html lang="pt-BR">
    {% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Projeto Django{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{% static 'projeto/bootstrap/css/bootstrap.min.css' %}"
        />
        <link rel="stylesheet" href="{% static 'projeto/css/style.css' %}" />
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
    <script src="{% static 'projeto/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</html>
